
.container {
    padding: 0;
    border: solid 1px var(--darkMode-SecondaryColor);
    border-radius: var(--borderRadius);
    width: 90%;

    .container_header {
        border-bottom: solid 1px var(--darkMode-SecondaryColor);
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;

        h2 {
            margin: 5px 0 0 20px;
        }

        button {
            margin: 5px 20px 5px 0;
        }

    }


    .card-container {
        display: flex;
        width: 80%;
        flex-direction: row;
        justify-content: center;
        gap: 0 10px;

        .post-card {
            background: none;
            border: solid 1px var(--darkMode-SecondaryColor);
            border-radius: var(--borderRadius);
            width: 300px;
            height: 500px;
            padding: 0 20px;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: 40px auto;
            gap: 0;

            .post-card_date {
                display: flex;
                flex-direction: column;
                justify-content: end;
                text-transform: uppercase;
                font-size: 1.5em;
                margin: 0;
                height: 40px;

            }

            span{
                h1{
                    font-size: 1.5em;
                    margin: 0;
                }
                img {
                    height: 200px;
                    width: 100%;
                    object-fit: cover;
                }
                .btn-danger {
                    background: #dc3545;
                    margin-left: 10px;
                }


            }

        }
    }
}