* {
  --darkMode-MainColor: #2C2C30;
  /* --darkMode-MainColor: #242424; */
  --darkMode-SecondaryColor: white;
  --darkMode-DecorateColor: #D5D5D6;
  --borderRadius: 20px;
}

body {
  background: var(--darkMode-MainColor);
  font-family: "League Spartan", sans-serif;
  color: var(--darkMode-SecondaryColor);
  display: flex;
  flex-direction: column;

}

header {
  width: 90vw;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: solid 1px var(--darkMode-SecondaryColor);

  nav {
    a {
      font-weight: 300;
      letter-spacing: 3px;
      color: var(--darkMode-SecondaryColor);
    }

    .current-page {
      background-color: var(--darkMode-DecorateColor);
      color: var(--darkMode-MainColor);
    }

    :first-child {
      margin-left: 10px;
    }
  }
}


.btn,button {
  display: inline-block;
  padding: 10px;
  border: none;
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}

.btn-primary {
  background: #0d6efd;
}